.projects-container {
  width: 100%;
  margin: auto 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  padding: 5px;

  .card {
    height: 120px;
    margin: 0 20px;
  }

  // Scroll Section
  max-height: 520px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
