.task-item {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f6f6f6;
  font-size: 20px;
  color: #555;
  position: relative;
  border-bottom: 1px solid #e6e6e6;

  &:nth-child(even) {
    background-color: #f2f2f2;
  }

  &:first-child {
    border-radius: 10px 120px 10px 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .task-content {
    display: flex;
  }
}
