@import './src/utils/sass/colors';

.ui.menu {
  &.main {
    position: relative;
    background-color: transparent;

    .ui.container {
      .header.item {
        color: $white;

        .brand-name {
          font-size: 1.125rem;
          text-transform: uppercase;
        }
      }

      .right.menu {
        .header.item {
          width: 100px;
          margin: 10px;
          display: flex;
          justify-content: center;
          color: $dark-orange;
          border: 1px solid $dark-orange;
          border-radius: 0.25rem;

          &:hover {
            color: $white;
            background-color: $dark-orange;
          }
        }
      }
    }
  }

  .ui.container {
    //@todo: check 'all' css property
    width: 100%;
    margin: 0 !important; // Unfortunately needed to replace semantic ui styles

    .header.item {
      .logo {
        background-image: url('../../../public/assets/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      &.disabled {
        cursor: not-allowed !important;
      }
    }
  }
}
