@import './src/utils/sass/colors';

.unknown-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      min-width: 500px;
      background-color: $white;
      padding: 20px 30px;
      border-radius: 15px;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 35px;

      &::before {
        content: 'Error';
        position: absolute;
        top: -25px;
        left: 15px;
        font-size: 40px;
        font-weight: bold;
        color: $white;
        text-shadow: -1px 0 rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1), 1px 0 rgba(0, 0, 0, 0.1),
          0 -1px rgba(0, 0, 0, 0.1);
      }

      > p {
        font-size: 165px;
        margin: 0;
        color: $light-orange;
      }

      .logo {
        background-image: url('../../../public/assets/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 200px;
      }
    }
  }
}
