@import 'utils/sass/colors';

body {
  background: $light-gray;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

  h1 {
    color: $dark;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
  }
}
