@import './src/utils/sass/colors';

.task-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  background-color: $gray-task;
  font-size: 20px;
  color: #555;

  &:nth-child(even) {
    background-color: $lighter-gray-task;
  }

  &:first-child {
    margin-top: 15px;
    background-color: $white;

    .task-header {
      background-color: $gray-task;
      border-radius: 10px 120px 10px 10px;
      margin: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;

    .title {
      margin: 0;
      margin-left: 15px;
    }

    .context-menu {
      position: relative;

      .task-icon {
        margin-right: 30px;
      }

      .menu-option {
        position: absolute;

        .button {
          font-size: 8px;
        }

        // @todo: Nasty hack for stylling each of menu option. Find different way to style it
        &.option-0 {
          top: -23px;
        }

        &.option-1 {
          top: 0px;
        }

        &.option-2 {
          top: 23px;
        }
      }
    }
  }

  .task-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 20px;
    background-color: $white;

    &.isOpen {
      border: 1px solid #e6e6e6;
      border-top: 0;
    }

    .column {
      &.second {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 10px;
        min-width: 220px;
      }

      .description {
        font-size: 16px;
        word-break: break-all;
      }

      .meta {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-top: 10px;
      }

      .action-buttons {
        display: flex;
        align-items: center;
        min-height: 50px;
      }
    }
  }
}
